@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#D8FFDB;
}

h1{
    color: #023535;
}

h1#principal{
  color: #015958;
  text-align: center;
}

h2{
    color:#008F8C
}

.basico{
    color: blueviolet;
}

.intermediario{
    color: coral;
}

.avancado{
    color: violet;
}