@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#C4EEF2,#7AB8BF);
}
main{background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #012c309f;
width: 600px;
padding: 10px;
margin:auto
}

h1{
    color: #025159;
    text-align: center;
    text-shadow: 1px 1px 0px #7fd4de57;
}

h2{
color: #3E848C;
}


p{

    text-align: justify;
}