@charset "UTF-8";
 
<style>
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
</style>



#* {
    margin:0px;
    padding:0px;
}

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:"Pinyon Script", cursive;
    --fonte3:Playfair Display, serif;
}

html,body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: rgb(139, 137, 137);
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vh;
}

header > p{
    padding-bottom: 50px;
}

header a:hoover, footer a:hoover{
    text-decoration: underline;
}

section{
    font-family:  var(--fonte2);
    font-size: 3.5vh;
    padding-top: 40vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.branco{
    background-color: rgb(88, 30, 30);
    color:white;
}

section.imagem{
    background-color: rgb(51,51,51;);
    color: white;
    box-shadow:inset 3px 3px 10px 0px black;
    background-size: cover;
    background-attachment:fixed;
}

section.imagem >p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.458);
    text-shadow: 1px 1px 1px 1px black
}

section#img01{
    background-image: url("../imagens/agradecer\ depois.jpg");
    background-position: left center;
}

section#img02{
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hoover{
    text-decoration: underline;
}

footer{
    font-family: var(--fonte1);
    font-size: 2vh;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


